<div class="comment clearfix ">
  <div class="comment_content">
    <%= link_to profile_path(comment.user) do %>
        <p class="comment_name green-text"><strong><%=comment.user.username%></strong></p>
    <%end%>
<% if (user_signed_in? && (current_user.id == comment.user_id||current_user.id == comment.post.user_id))%>
    <%= link_to [comment.post,comment], method: :delete, data: {confirm:"Are you sure, do you want to 'DELETE' this comment?"} do %>
      <i class="material-icons right red-text"title="delte comment">delete</i>
    <%end%>
<%end%>
<% if (user_signed_in? && (current_user.id == comment.user_id))%>
  <%= link_to  edit_post_comment_path(comment.post,comment) do%>
    <i class="material-icons right green-text" title="edit comment"> edit</i>
    <%end%>
<%end%>
    <p class="comment_body grey-text"><%=comment.body%></p>
    <p class="comment_time"><%=time_ago_in_words(comment.created_at)%> Ago</p>
  </div>

</div>
