<%= form_for ([@post,@post.comments.build]) do |f| %>


  <%=  f.hidden_field :user_id , :value => current_user.id%>

<div >
  <p class="comment_name green-text"><strong><%=current_user.username%></strong></p>
  <%= f.text_area :body,placeholder:"enter your comment here"%>
</div>
  <%= f.submit 'Comment', class: 'btn' %>

<%end%>
