<%= form_for ([@post,@post.comments.build]) do |f| %>

<div class="input-field">
  <%= f.label :name,class:"active"%>
  <%= f.text_field :name ,placeholder:"*required field, minimum 3 characters"%>
</div>

<div >
  <%= f.label :body%>
  <%= f.text_area :body%>
</div>
  <%= f.submit 'Comment', class: 'btn' %>

<%end%>
