<%= form_for ([@post,@post.comments.build]) do |f| %>


  <%=  f.hidden_field :user_id , :value => current_user.id%>

<div >
  <%= f.label :body%>
  <%= f.text_area :body%>
</div>
  <%= f.submit 'Comment', class: 'btn' %>

<%end%>
