<% provide(:title, @title) %>
<div class="row">
  <aside class="col m5">
    <section class="user_info">

        <span><%= link_to profile_path(@user)  do%>
              <h4><%= @user.username %></h4>
              <%end%>
        </span>

        <div class="followers_following_count">
            <a href="<%= followers_path(@user) %>"> <strong id="followers<%=@user.id%>" class="stat"> <%= @user.followers.count %></strong> followers</a>
            <a href="<%= following_path(@user) %>"> <strong id="following<%=@user.id%>" class="stat"> <%= @user.following.count %></strong> following</a>
        </div>

    <%= render partial: "followunfollow_button", object:  @user, as: 'user' %>

    </section>
  </aside>
  <div class="col m7">
    <h3><%= @title%></h3>
    <% if @fusers.any? %>
          <div class="users_follow">
             <% @fusers.each do |user|%>

             <div class="row card " style="padding:5px 0 5px 0">

               <div class="col s1 m1 l1" style="margin-left:5px"> <%= image_tag user.avatar.url(:thumb),class:"circle responsive-img"%></div>
               <div class="col s3 m3 l3" style="margin:10px 0 0 5px;"><strong> <%= link_to user.username, profile_path(user) %></strong></div>
               <div class="right col valign-wrapper">
                 <%= render "pages/followunfollow_button",:user => user%>
               </div>

             </div>

             <%end%>
          </div>

    <% end %>
  </div>
</div>
