
<h4 class="green-text">showing search results for "<%=params[:search]%>", <%= pluralize(@users.count,"match")%> </h4>
<br>
<% @users.each do |user| %>
<br>
    <div class="row">
      <div class="col">
          <%= link_to user.username, profile_path(user) %>
            <br>
            <%= user.email %>
            <br>
      </div>

      <div class="right col">
        <%= render "pages/followunfollow_button",:user => user%>
      </div>
    </div>

<% end %>
