
<%if @posts.any?%>
    <% @posts.each do |post|%>
    <br>
         <div class=" row single_post hoverable">
           <div class="col s12 card">
                <div class="card-action header row " style="padding:12px 10px 6px 10px; ">

                    <div class="col s1 l1 m1 left ">
                      <%= link_to profile_path(post.user) do%>
                        <div class="blue-text row valign-wrapper">
                          <div class="col s8 m8 l8"> <%= image_tag post.user.avatar.url(:thumb),class:"circle responsive-img"%></div>
                          <div class="col s1 m1 l1 valign-wrapper" style:" padding-right:20px;"> <%= post.user.username.capitalize %></div>
                        </div>
                      <%end%>
                    </div>

                    <div class="right col"> <%=time_ago_in_words(post.created_at)%> ago</div>

              </div>

                <br>
                <%= link_to post_path(post) do %>
                <div class="center">
                   <%= image_tag post.image.url(:medium), class:"responsive-img" %>
                 </div>
                 <%end%>
                <br>

                <hr style="border: 0; border-top: 1px solid rgba(160, 160, 160, 0.2);">

                <div class="fame row" style="padding-top:1%;padding-bottom:2%; margin:0;">
                  <div class="col l5 m5 s4"></div>
                    <div class="col l1 m1 s2">
                      <strong><%= post.get_likes.size %></strong> <i class="fa fa-heart" style="color:#ff0000" aria-hidden="true"></i>
                    </div>
                    <div class="col l2 m2 s2">
                    <strong><%=post.comments.count %></strong> <i class="fa fa-comments" style="color:green;" aria-hidden="true"></i>
                    </div>
                    <div class="col l4 m4 s4"></div>
                </div>

                <div class="card-action center"> <%= post.description%> </div>
                <!-- <%= will_paginate %> -->
            </div>
        </div>
    <% end %>
<%end%>
<br><br>
